/* @font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: url("../fonts/Roboto-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: url("../fonts/Roboto-Bold.ttf") format("ttf");
} */
/* 200 300 400 700 900 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  background: #f2f2f2;
  margin: 0 auto;
}
.container {
  width: 1140px;
  margin: 0 auto;
}

.visibility_hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.promo {
  background-image: url(../images/section_1/main_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.section_1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: start;
  padding-top: 39px;
  padding-bottom: 61px;
}

.logo {
  margin-bottom: 10px;
  display: block;
}

.promo_header {
  width: 100%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 53px;
}
.section_1 > p {
  width: 100%;
  text-align: center;
}

.promo_p_1,
.promo_p_2,
.promo_p_3 {
  text-transform: uppercase;
}

.section_1 .promo_p_2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 80px;
  color: rgb(255, 255, 255);
}

.promo_p_1,
.promo_p_3 {
  color: rgb(249, 191, 59);
  font-size: 41px;
}

.promo_p_2::after,
.promo_p_2::before {
  content: "";
  display: block;
  width: 292px;
  border-bottom: 2px solid white;
}
.promo_p_3 {
  margin-bottom: 23px;
}

.promo_p_4 {
  font-size: 21px;
  color: #ffffff;
  font-weight: 700;
  line-height: 28px;
}

.color_text_1 {
  color: rgb(249, 191, 59);
  text-transform: uppercase;
  font-weight: 700;
}

.promo_button {
  margin-top: 72px;
  width: 313px;
  height: 72px;
  text-transform: uppercase;
  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  outline: none;
}

.promo_5 {
  margin-top: 71px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
}
.back::after {
  display: block;
  width: 34px;
  height: 23px;
  content: "";
  background-image: url(../icons/section_1/down.svg);
  background-position: center center;
  background-size: cover;
  margin: 5px auto 0 auto;
}

.section_2 {
  background: #efefef;
  padding-top: 85px;
  padding-bottom: 75px;
}

.description_header {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #252525;
  cursor: default;
}
.description_header::after {
  content: "";
  display: block;
  margin: 18px auto 0 auto;
  width: 220px;
  border-bottom: 7px solid #f9bf3b;
}
.description_p_1 {
  color: #4a4a4a;
  margin-top: 19px;
  text-align: center;
  font-size: 23px;
  line-height: 20px;
}

.section_2_wrapper_1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 45px;
  justify-content: space-between;
}
.section_2_wrapper_column {
  width: 369px;
  display: flex;
  flex-direction: column;
}
.section_2_wrapper_column > img {
  margin: 0 auto;
  margin-bottom: 26px;
}

.section_2_wrapper_column_p {
  color: #4a4a4a;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
}

.optimization {
  background: white;
  background-image: url(../images/section_3/section3_bg.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: 150px;
  background-position-y: 47px;
  padding-top: 108px;
}

.section_3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.section_3_header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 28.5px;
  line-height: 30px;
  color: #299cbd;
}
.section_3_p {
  width: 750px;
  margin-top: 25px;
  text-align: left;
  /* font-family: "Roboto"; */
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 55px;
  color: #4a4a4a;
}

/* .section_3_p_marked {
  font-weight: bold;
} */

.results {
  background-image: url(../images/section_4/section4_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 447px;
}

.section_4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 86px;
  justify-content: space-between;
}

.section_4_span_1 {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 30px;
  color: #efefef;
  text-transform: uppercase;
}

.section_4_span_1::after {
  content: "";
  display: block;
  width: 220px;
  margin: 18px auto 0 auto;
  border-bottom: 7px solid #f9bf3b;
}

.section_4_block {
  width: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

.circle {
  width: 118px;
  height: 118px;
  background: #b4e2ff;
  border-radius: 50%;
  margin-bottom: 24.5px;
}

.section_4_block_p {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #efefef;
  text-align: center;
}
.c1 {
  background-image: url(../images/section_4/section4_icon1.png);
}
.c2 {
  background-image: url(../images/section_4/section4_icon2.png);
}
.c3 {
  background-image: url(../images/section_4/section4_icon3.png);
}
.c4 {
  background-image: url(../images/section_4/section4_icon4.png);
}
.c5 {
  background-image: url(../images/section_4/section4_icon5.png);
}
.c1,
.c2,
.c3,
.c4,
.c5 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.subscribe {
  padding-top: 88px;
}

.section_5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_5_icon {
  min-height: 174px;
  width: 154px;
  background-image: url(../images/section_5/section5_icon1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 45px;
}

.section_5_p {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 43px;
  text-align: center;
  color: #252525;
  margin-bottom: 51px;
}

.section_5_button {
  margin-bottom: 88px;
  width: 313px;
  height: 72px;
  font-size: 21px;
  line-height: 24px;
  text-transform: uppercase;
  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.section_5_button:hover {
  cursor: pointer;
}

.subscribe_2 {
  background: white;
  padding-top: 81px;
}

.section_6 {
  width: 577px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  margin: 0 auto;
}

.section_6_icon {
  width: 342px;
  min-height: 224px;
  background-image: url(../images/section_6/section6_icon1.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 36px;
}
.section_6_span_1 {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #252525;
  font-size: 30px;
  line-height: 30px;
}
.section_6_span_2 {
  display: block;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  color: #299cbd;
  text-transform: uppercase;
}
.section_6_span_3 {
  display: block;
  text-align: center;
  font-size: 23px;
  line-height: 20px;
  color: #4a4a4a;
  white-space: nowrap;
  margin-bottom: 52px;
  letter-spacing: 1.5pt;
}

footer {
  min-height: 169px;
  background-color: #1a1a1a;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #888888;
  padding: 57px 0 69px 0;
  text-decoration: none;
}

footer a:visited {
  color: #888888;
}

footer a:first-child::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 15px;
  border-right: 1px solid #888888;
}
